
@{
    ViewBag.Title = "门诊结算";
    Layout = "~/Views/Shared/_Base.cshtml";
}

<link href="~/Content/js/layui/css/modules/layuiAutocomplete.css" rel="stylesheet" />

<style>
    .layui-card-header.layuibd-card-header-auto {
        padding-top: 15px;
        padding-bottom: 15px;
        height: auto;
    }

    .layuibd-card-header-auto i.layuibd-button-btn {
        position: relative;
        right: 0;
        top: 0;
        vertical-align: middle
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <form class="layui-form" id="LAY-form" lay-filter="LAY-form-render">
            <input type="hidden" id="bid" value="@ViewBag.bid" placeholder="业务ID" />
            <input type="hidden" id="empid" value="@ViewBag.empid" placeholder="用户ID" />
            <input type="hidden" id="transkey" name="TransKey" value="@ViewBag.transkey" placeholder="医保交易id" />
            <object id="CSharpActiveX" classid="clsid:67475F7D-57A1-45AD-96F3-428A679B2E6C" codebase="ActiveSetup.CAB#version=1,0,0" width="0" height="0"></object>
            <div class="layui-card-header layuibd-card-header-auto">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
                    <legend>病人信息</legend>
                </fieldset>
                <!--病人信息-->
                <div class="layui-form-item">
                    <label class="layui-form-label">结算方式</label>
                    <div class="layui-input-block">
                        <input type="radio" name="Settlement" value="0" title="门诊结算" checked="">
                        <input type="radio" name="Settlement" value="1" title="计划生育结算">

                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">身份标识</label>
                    <div class="layui-input-inline">
                        <select id="AfferentSign" name="AfferentSign" lay-filter="AfferentSign" lay-verify="required">
                            <option value="">请选择条件</option>
                            <option id="AfferentSignIcCard" value="1" selected>身份证号</option>
                            <option id="AfferentSignNum" value="2">个人编号</option>
                        </select>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" id="markTextLable">身份证号</label>
                        <div class="layui-input-inline">
                            <input type="text" id="IdentityMark" name="IdentityMark" placeholder="请输入身份证号" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button type="button" Id="queryData" class="layui-btn layui-btn-disabled layui-btn-radius">查询</button>
                    </div>
                    @*<div class="layui-inline">
                            <button type="button" Id="ReadCard" class="layui-btn">读卡</button>
                        </div>*@
                </div>
                <div class="layui-inline">

                    <div class="layui-inline">
                        <label class="layui-form-label">主诊断编码</label>
                        <div class="layui-input-inline">
                            <input type="text" name="DiagnosisCode" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">主诊断名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="DiagnosisName" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">医保诊断编码</label>
                        <div class="layui-input-inline">
                            <input type="text" name="DiagnosisMedicalInsuranceCode" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">医保诊断名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="DiagnosisMedicalInsuranceName" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">门诊号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="OutpatientNumber" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">身份证号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="IdCardNo" @*lay-verify="required|number"*@ autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">患者姓名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="PatientName" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">就诊日期</label>
                        <div class="layui-input-inline">
                            <input type="text" name="VisitDate" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">住院科室</label>
                        <div class="layui-input-inline">
                            <input type="text" name="DepartmentName" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">费用合计</label>
                        <div class="layui-input-inline">
                            <input type="text" name="MedicalTreatmentTotalCost" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">现金支付</label>
                        <div class="layui-input-inline">
                            <input type="text" id="CashPayment" name="CashPayment" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline" id="InsuranceBalanceDiv">
                        <label class="layui-form-label">账户余额</label>
                        <div class="layui-input-inline">
                            <input type="text" id="InsuranceBalance" name="InsuranceBalance" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline" id="AccountPaymentDiv">
                        <label class="layui-form-label">下账金额</label>
                        <div class="layui-input-inline">
                            <input type="text" id="AccountPayment" name="AccountPayment" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">诊断医生</label>
                        <div class="layui-input-inline">
                            <input type="text" name="DiagnosticDoctor" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">经办人</label>
                        <div class="layui-input-inline">
                            <input type="text" name="Operator" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">发票号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="InvoiceNo" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-form-item" id="DoorDiagnosisPreSettlementDiv" style="text-align: center; margin-top: 20px;">
                        <button type="button" Id="DoorDiagnosisPreSettlement" class="layui-btn">门诊预结算</button>
                    </div>
                    <div class="layui-form-item" style="text-align: center; margin-top: 20px;" id="DoorDiagnosisSettlementDiv">
                        <button type="button" Id="DoorDiagnosisSettlement" class="layui-btn layui-btn-disabled layui-btn-radius">门诊结算</button>
                    </div>
                </div>
                <div class="layui-card-body" lay-size="sm">
                    <fieldset  class="layui-elem-field layui-field-title" style="margin-top: 10px;">
                        <legend>医保结算信息</legend>
                    </fieldset>
                    <div class="layui-inline" id="SettleData">
                    </div>
                </div>
                </div>
        </form>
    </div>
</div>
<script>
    layui.config({
        base: '/Content/js/layui/plugin/'
    }).extend({
        autocomplete: 'layAutoComplete'
    });
    layui.use(['form', 'laypage', 'layer', 'table', 'element', 'laydate', 'autocomplete'], function () {
        var $ = layui.$,
            element = layui.element,
            form = layui.form,
            layer = layui.layer,
            table = layui.table;
        var activeJsonInfo = null;
        $("#InsuranceBalanceDiv").hide();
        $("#AccountPaymentDiv").hide();
        $("#DoorDiagnosisPreSettlementDiv").hide();
        $("#DoorDiagnosisSettlementDiv").hide();
        //计划生育结算入参
        var planBirthSettlementParam = null;
        //form数据回显:数据回显到Form表单主体部分
        var jsonToForm = function (jsonData, formFilter) {
            var diagnosisList = jsonData.DiagnosisList;
            var diagnosisName = null;
            var diagnosisCode = null;
            var diagnosisMedicalInsuranceCode = null;
            var diagnosisMedicalInsuranceName = null;
            if (diagnosisList !== null) {

                for (var i = 0; i < diagnosisList.length; i++) {
                    if (diagnosisList[i].是否主诊断 === "是") {
                        diagnosisName = diagnosisList[i].诊断名称;
                        diagnosisCode = diagnosisList[i].诊断编码;
                        diagnosisMedicalInsuranceCode = diagnosisList[i].诊断医保编码;
                        diagnosisMedicalInsuranceName = diagnosisList[i].诊断医保名称;
                    }
                }
            }
            //给表单赋值
            form.val(formFilter,
                {
                    "OutpatientNumber": jsonData.OutpatientNumber,
                    "IdCardNo": jsonData.IdCardNo,
                    "PatientName": jsonData.PatientName,
                    "VisitDate": jsonData.VisitDate,
                    "DepartmentName": jsonData.DepartmentName,
                    "MedicalTreatmentTotalCost": jsonData.MedicalTreatmentTotalCost,
                    "Operator": jsonData.Operator,
                    "DiagnosticDoctor": jsonData.DiagnosticDoctor,
                    "InvoiceNo": jsonData.InvoiceNo,
                    "DiagnosisName": diagnosisName,
                    "DiagnosisCode": diagnosisCode,
                    "DiagnosisMedicalInsuranceCode": diagnosisMedicalInsuranceCode,
                    "DiagnosisMedicalInsuranceName": diagnosisMedicalInsuranceName,
                });

        }
        var params = {
            "TransKey": $("#transkey").val() /*医保交易码*/,
            "BusinessId": $("#bid").val() /*当前住院记录的业务ID*/,
            "UserId": $("#empid").val() /*授权操作人的ID*/
        }
        //获取门诊计划生育结算参数
        function getOutpatientPlanBirthSettlementParam() {

            $.ajax({
                type: 'POST',
                url: host + '/GetOutpatientPlanBirthSettlementParam',
                data: params,
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.Success === false) {
                        var errData = data.Message;
                        layer.alert(errData, { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                    } else {
                        //计划生育结算调用插件
                        //settlementPay(data.Data);
                    }
                }

            });

        }
        //门诊预结算
        $('#DoorDiagnosisPreSettlement').on('click', function () {
            params["IdentityMark"] = $("#IdentityMark").val();
            params["AfferentSign"] = $("#AfferentSign").val();
            $.ajax({
                type: 'post',
                url: host + '/OutpatientPlanBirthPreSettlement',
                data: params,
                dataType: "json",
                async: false,
                success: function (data) {
                    console.log(data);
                    if (data.Success === false) {
                        var errData = data.Message;
                        //样式类名:墨绿深蓝风
                        layer.alert(errData, { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });

                    } else {

                        $('#CashPayment').val(data.Data.SelfPayFeeAmount);
                        layer.alert('门诊预结算成功', { icon: 6, shade: 0.1, skin: 'layui-layer-molv' });
                        //隐藏预结算按钮
                        $("#DoorDiagnosisPreSettlementDiv").hide();
                        $("#DoorDiagnosisSettlementDiv").show();
                        $("#AccountPaymentDiv").show();
                        //显示结算按钮
                        buttonStatus("DoorDiagnosisSettlement", true);
                        //添加预结算信息
                        if (data.Data.PayMsg !== null) {
                            settlementData(data.Data.PayMsg);
                        }
                    }
                }

            });
        });
        //门诊结算
        $('#DoorDiagnosisSettlement').on('click', function () {
            params["IdentityMark"] = $("#IdentityMark").val();
            params["AfferentSign"] = $("#AfferentSign").val();
            var settlementVal = $('input[name="Settlement"]:checked').val();
            if (settlementVal === "1") {
                params["IsBirthHospital"] = 1;
                //获取结算信息
                var accountPayment = $("#AccountPayment").val();
                if (accountPayment !== "" || accountPayment !== undefined) {
                    //现金支付
                    var cashPayment = $('#CashPayment').val();
                    if (cashPayment !== "" || cashPayment !== undefined) {

                        if (accountPayment > cashPayment) {
                            layer.alert("下账金额不能大于现金支付金额!!!", { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                            return false;
                        } else {
                            params["AccountPayment"] = $("#AccountPayment").val();
                        }
                    }
                }
            }
            ////计划生育结算
            //if (settlementVal === "1") {
            //    //计划生育结算调用插件
            //    var resultData = getOutpatientPlanBirthSettlementParam();
            //} else
            //{
            //
            //}
            $.ajax({
                type: 'post',
                url: host + '/OutpatientDepartmentCostInput',
                data: params,
                dataType: "json",
                async: false,
                success: function (data) {
                    console.log(data);
                    if (data.Success === false) {
                        var errData = data.Message;
                        layer.alert(errData, { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                        //样式类名:墨绿深蓝风

                    } else {
                        //$('#ReimbursementExpenses').val(data.Data.ReimbursementExpensesAmount);
                        $('#CashPayment').val(data.Data.SelfPayFeeAmount);
                        layer.alert('门诊结算成功', { icon: 6, shade: 0.1, skin: 'layui-layer-molv', title: '温馨提示' });
                        buttonStatus("DoorDiagnosisSettlement", false);
                        //添加结算信息
                        if (data.Data.PayMsg !== null) {
                            settlementData(data.Data.PayMsg);
                        }
                    }
                }

            });


        });

        $('#queryData').on('click', function () {
            var paramsUserInfo = {
                "AfferentSign": $("#AfferentSign").val() /*传入标志，1:身份证,2:医保个人编码*/,
                "IdentityMark": $("#IdentityMark").val() /*身份标识*/,
                "UserId": $("#empid").val() /*授权操作人的ID*/
            }
            //获取居民信息
            $.ajax({
                type: 'POST',
                url: host + '/GetUserInfo',
                data: paramsUserInfo,
                dataType: "json",
                async: false,
                success: function (data) {
                    console.log(data);
                    if (data.Success === false) {
                        var errData = data.Message;
                        //样式类名:墨绿深蓝风
                        layer.alert(errData, { skin: 'layui-layer-molv', icon: 3, title: '提示' });
                        return false;

                    } else {
                        // 居民
                        if (data.Data.InsuranceType === "342") {
                            $("#InsuranceBalance").val(data.Data.ResidentInsuranceBalance);
                            //职工
                        } else if (data.Data.InsuranceType === "310") {
                            $("#InsuranceBalance").val(data.Data.WorkersInsuranceBalance);
                        }
                        var settlementVal = $('input[name="Settlement"]:checked').val();
                        //计划生育结算
                        if (settlementVal === "1") {
                           
                            $("#DoorDiagnosisPreSettlementDiv").show();
                        } else//门诊结算
                        {   //显示结算按钮
                            $("#DoorDiagnosisSettlementDiv").show();
                            //隐藏预结算按钮
                            $("#DoorDiagnosisPreSettlementDiv").hide();
                            //居民显示结算按钮
                            buttonStatus("DoorDiagnosisSettlement", true);
                        }
                        $("#InsuranceBalanceDiv").show();
                    }
                }

            });


        });
        ////结算支付
        //function settlementPay(paramData) {
        //    console.log(paramData);
        //    //初始化插件
        //    var activeX = document.getElementById("CSharpActiveX");
        //    var paramBase =
        //    {
        //        "Account": "cpq2677",
        //        "Pwd": "888888",
        //        "OperatorId": $("#empid").val() /*授权操作人的ID*/
        //    };
        //    //var activeData = activeX.GetUserInfo(JSON.stringify(param), JSON.stringify(paramBase));
        //    var activeData = activeX.OutpatientPlanBirthSettlement(JSON.stringify(paramData), JSON.stringify(paramBase));

        //    var activeJsonData = JSON.parse(activeData);

        //    if (activeJsonData.Success === false) {
        //        layer.msg(activeJsonData.Message, { icon: 5, skin: 'layui-layer-molv' });
        //        return false;
        //    } else {
        //        //结算信息赋值
        //        activeJsonInfo = activeJsonData.Data;
        //        doorDiagnosisSettlement();
        //    }

        //}
        //初始化参数
        $.ajax({
            type: 'get',
            url: host + '/GetOutpatient',
            data: params,
            dataType: "json",
            async: false,
            success: function (data) {
                console.log(data);
                if (data.Success === false) {
                    var errData = data.Message;
                    //样式类名:墨绿深蓝风
                    layer.alert(errData, { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });

                } else {
                    jsonToForm(data.Data, "LAY-form-render");
                    var idCardNo = data.Data.IdCardNo;
                    buttonStatus("queryData", true);

                    if (idCardNo !== undefined && idCardNo !== null) {
                        $("#IdentityMark").val(idCardNo);
                    } else {
                        $("#AfferentSignIcCard").attr("selected", false);
                        $("#AfferentSignNum").attr("selected", true);
                        $("#markTextLable").text("个人编码");
                        $("#IdentityMark").val("");
                        $("#IdentityMark").attr("placeholder", "请输入个人编码");
                    }

                }
            },
            complete: function () {
                form.render();
            }
        });
        form.on('select(AfferentSign)',
            function (data) {
                var val = data.value;
                if (val === "2") {
                    $("#markTextLable").text("个人编码");
                    $("#IdentityMark").val("");
                    $("#IdentityMark").attr("placeholder", "请输入个人编码");
                } else {
                    $("#markTextLable").text("身份证号");

                }
            });

        //获取结算返回值
        function settlementData(data) {
            var html = "";
            for (var i in data) {
                if (data.hasOwnProperty(i)) {

                    html += '<div class="layui-inline">';
                    html += '     <label class="layui-form-label">' + data[i].Name + '</label>';
                    html += '     <div class="layui-input-inline">';
                    html += '     <input type="text" name="AdmissionDiagnosticDoctor" autocomplete="off"   value="' + data[i].Value + '" disabled class="layui-input layui-disabled">';
                    html += '     </div>';
                    html += '</div>';
                }
            }
            if (html !== "") {
                $("#SettleData").empty();
                $("#SettleData").append(html);
            }

        }
        //按钮状态
        function buttonStatus(buttonId, status) {
            //取消禁用
            if (status === true) {
                $("#" + buttonId).attr("class", "layui-btn layui-btn-radius");
            }//禁用
            else {
                $("#" + buttonId).attr("class", "layui-btn layui-btn-disabled layui-btn-radius");

            }

        }

    });


</script>
